* {
    box-sizing: border-box;
  }

body{
    margin: 0;
    padding: 0;
    background: url(images/homepage.jpg);
    background-size: cover;
    color: #CAD2C5;
}

.top{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.logo{
    display: flex;
    justify-content: end;
    padding-right: 350px;
    padding-top: 250px;
}

.container{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    padding-top: 280px;
}