* {
    box-sizing: border-box;
  }

/* || Homepage Styles */

.back1{
    margin: 0;
    padding: 0;
    background: url(images/homepage.jpg);
    background-size: cover;
    color: #CAD2C5;
}

.top{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Lato', sans-serif;
}

.logoh{
    display: flex;
    justify-content: end;
    padding-right: 350px;
    padding-top: 250px;
    font-family: 'Lato', sans-serif;
}

.container{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    padding-top: 280px;
    font-family: 'Lato', sans-serif;
}

/* || Jill Page Styles */

.Jillb{
    background-color: #84A98C;
}

.J-logo{
    padding: 10px;
    padding-left: 1350px;
    position: relative;
}

.Jimg1{
    position: absolute;
    top: 20px;
    left: 15px;
}

.Jill-header{
    display: flex;
    justify-content: right;
    padding: 20px;
    padding-right: 200px;
    padding-top: 20px;
    color: #354F52;
    flex-basis: 70%;
    text-align: right;
    position: absolute;
    top: 250px;
    right: 20px;
    font-size: 100px;
    font-family: 'Lato', sans-serif;
}

.Jill-p{
    display: flex;
    justify-content: right;
    padding: 10px;
    padding-right: 200px;
    color: #354F52;
    position: absolute;
    top: 625px;
    right: 32px;
    font-family: 'Lato', sans-serif;
}

.Jill-nav{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    padding-top: 630px;
    color: #354F52;
    font-family: 'Lato', sans-serif;
}

/* || Amy Page Styles */

.Amyb{
    background-color: #52796F;
}

.Amy-logo{
    padding: 10px;
    padding-left: 1350px;
    position: relative;
}

.Amyimg1{
    position: absolute;
    top: 20px;
    left: 15px;
}

.Amy-header{
    display: flex;
    justify-content: right;
    padding: 20px;
    color: #2F3E46;
    flex-basis: 70%;
    text-align: right;
    position: absolute;
    top: 90px;
    right: 20px;
    font-size: 50px;
    font-family: 'Lato', sans-serif;
}

.Amy-p{
    display: flex;
    justify-content: right;
    padding: 10px;
    color: #2F3E46;
    position: absolute;
    top: 625px;
    right: 35px;
    font-family: 'Lato', sans-serif;
}

.Amy-nav{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    padding-top: 630px;
    color: #2F3E46;
    font-family: 'Lato', sans-serif;
}

/* || Suzy Page Styles */

.Suzyb{
    background-color: #354F52;
}

.Suzy-logo{
    padding: 10px;
    padding-left: 1350px;
    position: relative;
}

.Suzyimg1{
    position: absolute;
    top: 200px;
    left: 15px;
}

.Suzy-header{
    display: flex;
    justify-content: right;
    padding: 20px;
    color: #84A98C;
    flex-basis: 70%;
    text-align: right;
    position: absolute;
    top: 105px;
    right: 500px;
    font-size: 50px;
    font-family: 'Lato', sans-serif;
}

.Suzy-p{
    display: flex;
    justify-content: right;
    padding: 10px;
    color: #84A98C;
    position: absolute;
    top: 401px;
    right: 35px;
    font-family: 'Lato', sans-serif;
}

.Suzy-nav{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    padding-top: 630px;
    color: #84A98C;
    font-family: 'Lato', sans-serif;
}

/* || Breana Page Styles */

.Breanab{
    background-color: #2F3E46;
}

.Breana-logo{
    padding: 10px;
    padding-left: 1350px;
    position: relative;
}

.Breanaimg1{
    position: absolute;
    top: 20px;
    left: 15px;
}

.Breana-header{
    display: flex;
    justify-content: right;
    padding: 20px;
    color: #405E60;
    flex-basis: 70%;
    text-align: right;
    position: absolute;
    top: 347px;
    left: 15px;
    font-size: 50px;
    font-family: 'Lato', sans-serif;
}

.Breana-p{
    display: flex;
    justify-content: right;
    padding: 10px;
    color: #405E60;
    position: absolute;
    top: 663px;
    left: 15px;
    font-family: 'Lato', sans-serif;
}

.Breana-nav{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    padding-top: 630px;
    color: #405E60;
    font-family: 'Lato', sans-serif;
}

/* || Button styles */

.JJ{
    background-color: #84A98C;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
}

.AA{
    background-color: #84A98C;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
}

.SS{
    background-color: #84A98C;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
}

.BB{
    background-color: #84A98C;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
}

/* || Jill Button styles */

.AA1{
    background-color: #52796F;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
}

.SS1{
    background-color: #52796F;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
}

.BB1{
    background-color: #52796F;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
}