* {
    box-sizing: border-box;
  }

/* || Homepage Styles */

.back1{
    margin: 0;
    padding: 0;
    background: url(images/homepage.jpg);
    background-size: cover;
    color: #CAD2C5;
}

.top{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.logoh{
    display: flex;
    justify-content: end;
    padding-right: 350px;
    padding-top: 250px;
}

.container{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    padding-top: 280px;
}

/* || Jill Page Styles */

.Jillb{
    background-color: #84A98C;
}

.J-logo{
    display: flex;
    padding: 20px;
    padding-left: 1350px;
}

.Jimg1{
    display: flex;
    
}

.Jill-header{
    display: flex;
    justify-content: right;
    padding: 20px;
    padding-right: 200px;
    padding-top: 20px;
    color: #354F52;
}

.Jill-p{
    display: flex;
    justify-content: right;
    padding: 10px;
    padding-right: 200px;
    color: #354F52;
}

.Jill-nav{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    padding-top: 280px;
    color: #354F52;
}

/* || Amy Page Styles */

.Amyb{
    background-color: #52796F;
}