/* -------------------------------------- *
General Styles
* --------------------------------------- */

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
header {
  background-image: url("../images/banners/jellyfish-web-background.jpg");
  background-size: cover;
  height: 200px; 
}
h1,
h2,
h3 {
  font-size: 36px;
  font-family: "Nunito+Sans 700", sans-serif;
  color: cadetblue;
}
main,
header h1,
nav div {
  width: 85%;
  margin: auto;
}
header {
  padding: 40px 0;
}
nav a {
  padding-right: 20px;
}
nav a:hover {
  color: #333;
}
nav {
  background-color: #ccc;
  padding: 12px;
}

.inspiro-img {
  width:800px;
}

.three-col{
  display:flex;
}

.three-col article {
  flex: 1;
  padding: 10px;
}

.three-col .description{
  flex-grow: 2;
}