* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }


img{
    height: auto;
}


body{
    margin: 20px;
    font-family: Poppins;
}

header{
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
}

.logo{
    max-width: 200px;
}

nav .header{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-basis: calc(25% - 20px);
    font-size: 20px;
    margin-top: 70px;
}

.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border-radius: 2.1em;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    transition: all 150ms ease-in-out;
  }
  .btn:hover, .btn:focus {
    color: #3498db;
    outline: 0;
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  }
  .flex-buttons { 
      display: flex;
      width: 100vw;
      }


  
  .navmobile { display: none;}
  .icon {
    position: fixed;
    cursor: pointer;
    top: 5%;
    right: 0%;
    width: 40px;
    height: 45px;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 1000;
  }
  
  .hamburger {
    width: 40px;
    height: 4px;
    line-height: 70px;
    background: #666;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }
  
  .hamburger:before,
  .hamburger:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 4px;
    background: #666;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }
  
  .hamburger:before {
    top: -10px;
  }
  
  .hamburger:after {
    top: 10px;
  }
  
  .icon.active .hamburger {
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
  }
  
  .icon.active .hamburger:before {
    top: 0;
    transform: rotate(45deg);
  }
  
  .icon.active .hamburger:after {
    top: 0;
    transform: rotate(135deg);
  }
    /* END OF Nav/Menu */


 /* First */

  .landscapeboat{
    max-width: 1000px;
    margin-top: 20px;
    margin-right: -20px;;
    float: right;
    position: relative;
  }

  .first-first{
    font-size: 29.3px;
    margin-left: 200px;
    margin-top: 500px;
    position: absolute;
    z-index: 10;
  }

  .first-two{
    font-size: 15px;
    margin-left: 200px;
    margin-top: 610px;
    position: absolute;
    z-index: 10;
  }
/*
  .landclouds{
    max-width: 400px;
    margin-left: 330px;
    margin-top: 400px;
    position: absolute;
  }
*/

  .purplelaugh{
    width: 600px;
    margin-top: 100px;
    position: relative;
  }

  .second-second{
    font-size: 29.3px;
    margin-left: 184px;
    position: absolute;
    z-index: 10;
  }

  .smileyface{
    width: 350px;
    margin-left: 18px;
    margin-top: 300px;
    position: absolute;
  }

  .second-third{
    font-size: 15px;
    margin-top: 100px;
    margin-left: 184px;
  }

  .blondkid{
    max-width: 500px;
    float: right;
    margin-top: 100px;
  }

  .third-third{
    font-size: 29.3px;
    margin-top: 300px;
    margin-left: 100px;
    position: absolute;
  }

  .third-forth{
    font-size: 15px;
    margin-top: 400px;
    margin-left: 100px;
    position: absolute;
  }


























  
  /* this is the mobile stuff */
  @media only screen and (max-width: 768px){
  .navtwo {display: none;}
    .navmobile {display:block;}
   
  }
  /* image handling */
  /* NAV */
  .icon {
    cursor: pointer;
    top: 20px;
    right: 0%;
    display: block;
    z-index: 1000;
  }
  
  .hamburger {
    position: absolute;
    top: 40px;
    right: 40px;
    transition: 0.5s;
  }
  
  .hamburger:before,
  .hamburger:after {
    transition: 0.5s;
  }
  
  .hamburger:before {
    top: -10px;
  }
  
  .hamburger:after {
    top: 10px;
  }
  
  .icon.active .hamburger {
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
  }
  
  .icon.active .hamburger:before {
    top: 0;
    transform: rotate(45deg);
  }
  
  .icon.active .hamburger:after {
    top: 0;
    transform: rotate(135deg);
  }
  
  .menu-mobile {
    background-color: #fff;
    border: 1px solid #3498db;
    position: fixed;
    right: 0;
    width: 40rem;
    z-index: 999;
    padding-top: 10px;
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
  }
  
  .menu-mobile, .menu-mobile a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 1px solid #3498db;
  }
  
  .menu-mobile a {
    clear: right;
    text-decoration: none;
    color: #555;
    height: 70px;
    line-height: 70px;
  }
  
  .menu-mobile a:hover {
    color: #3498db;
  }
  
  .menu-mobile {
    display: none;
    margin-top: 90px;
  }
  
  /* END OF Mobile Menu */
