* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: black;
  font-family: Homemade Apple;
  color: rgb(255, 247, 234);
}

.header {
  display: flex;
  flex-direction: row;
  font-size: 22px;
  justify-content: space-between;
  list-style-type: none;
  margin-left: 36px;
  margin-right: 36px;
  margin-top: 30px;
}

.light-text {
  text-align: center;
  font-size: 50px;
  color: rgb(255, 247, 234);
  position: relative;
  padding-top: 160px;
}

.light {
  width: 75%;
  margin-left: 300px;
  position: absolute;
}

.author {
  color: rgb(255, 247, 234);
  font-size: 18px;
  text-align: right;
  padding-right: 36px;
  padding-top: 230px;
  position: relative;
}

.screen-two {
  color: rgb(255, 247, 234);
  font-size: 20px;
  margin-left: 36px;
  padding-top: 400px;
}
.next {
  text-decoration: underline;
  cursor: help;
}

.moon {
  height: 50%;
  margin-left: 1100px;
  padding-top: 130px;
  position: absolute;
}

.next-moon {
  text-decoration: underline;
  cursor: help;
}

.moon-box {
  opacity: 0;
  transition: opacity 2s;
}
.draw {
  opacity: 1;
}

.screen-two-twotext {
  position: relative;
  padding-top: 250px;
  margin-left: 800px;
  z-index: 20;
}

.window {
  margin-left: -200px;
  z-index: 10;
  width: 70%;
  opacity: 0;
  transition: opacity 2s;
}
.draw-window {
  opacity: 1;
}
.screen-three-onetext {
  color: rgb(255, 247, 234);
  font-size: 20px;
  margin-left: 36px;
  padding-top: 1100px;
}

.screen-three-twotext {
  color: rgb(255, 247, 234);
  font-size: 20px;
  margin-right: 36px;
  padding-top: 860px;
  margin-left: 840px;
}

.screen-three-twotext{
  opacity: 0;
  transition: opacity 2s;
}

.draw-three {
  opacity: 1;
}

.next-three {
  text-decoration: underline;
  cursor: help;
}


canvas {
  position: absolute;
  background: black;
  width: 100%;
}

.sinking{
  width: 60%;
  border-radius: 60%;
  margin-top: 100px;
  margin-left: 300px;
}


.screen-four-onetext {
  color: rgb(255, 247, 234);
  font-size: 20px;
  margin-left: 36px;
  padding-top: 100px;
}

.screen-four-onegroup{
  opacity: 0;
  transition: opacity 2s;
}

.next-threefour {
  text-decoration: underline;
  cursor: help;
}

.draw-threefour {
  opacity: 1;
}

.screen-four-twotext {
  color: rgb(255, 247, 234);
  font-size: 20px;
  margin-right: 36px;
  margin-left: 1082px;
  padding-top: 600px;
}

.screen-four-twotext{
  opacity: 0;
  transition: opacity 2s;
}

.next-four {
  text-decoration: underline;
  cursor: help;
}

.draw-four {
  opacity: 1;
}

.screen-five-onetext {
  color: rgb(255, 247, 234);
  font-size: 20px;
  margin-left: 36px;
  padding-top: 600px;
}
.next-five {
  text-decoration: underline;
  cursor: help;
}


.screen-five-waves{
  width: 90%;
  padding-left: 425px;
  padding-top: 80px;
}

.screen-six-onetext {
  color: rgb(255, 247, 234);
  font-size: 20px;
  margin-right: 36px;
  margin-left: 945px;
  padding-top: 100px;
}

.screen-six-onetext {
  opacity: 0;
  transition: opacity 2s;
}
.draw-five {
  opacity: 1;
}

.next-six {
  text-decoration: underline;
  cursor: help;
}

.sideskull {
  width: 100%;
  padding-left: 375px;
}

.screen-six-twotext {
  color: rgb(255, 247, 234);
  font-size: 20px;
  margin-left: 36px;
  padding-top: 80px;
}

.screen-six-twogroup{
  opacity: 0;
  transition: opacity 2s;
}

.draw-six {
  opacity: 1;
}

.next-seven {
  text-decoration: underline;
  cursor: help;
}

.chapel {
  width: 50%;
  margin-left: 740px;
  position: absolute;
}

.screen-seven-onetext {
  color: rgb(255, 247, 234);
  font-size: 20px;
  margin-left: 36px;
  padding-top: 850px;
  position: relative;
}

.screen-seven-onetext{
  opacity: 0;
  transition: opacity 2s;
}

.draw-seven {
  opacity: 1;
}

.screen-eight-onetext {
  color: rgb(255, 247, 234);
  font-size: 20px;
  margin-left: 36px;
  padding-top: 180px;
}

.next-eight {
  text-decoration: underline;
  cursor: help;
}


#dragElement {
  width: 400px;
  height: 500px;
  background: rgb(65, 64, 64);
  cursor: move;
  color: rgb(255, 247, 234);
  text-align: center;
  font-size: 20px;
  line-height: 300px;
  border-radius: 50%;
  user-select: none;
  transition: all 2ms ease;
  transform: translateX(-36px) translateY(-40px);
  position: relative;
  left: 550px;
  top: 100px;
}

.plant{
  width: 20%;
  border-radius: 50%;
  position: absolute;
  margin-left: 570px;
  margin-top: 80px;
}



.screen-eight-twotext {
  color: rgb(255, 247, 234);
  font-size: 20px;
  margin-right: 36px;
  margin-left: 1050px;
  padding-top: 180px;
}

.next-nine {
  text-decoration: underline;
  cursor: help;
}

.screen-nine-onetext {
  color: rgb(255, 247, 234);
  font-size: 20px;
  margin-left: 36px;
  padding-top: 180px;
}

.screen-nine-onetext{
  opacity: 0;
  transition: opacity 2s;
}

.draw-eight{
  opacity: 1;
}

.seagulls {
  width: 50%;
  margin-left: 180px;
}

.screen-ten-onetext {
  color: rgb(255, 247, 234);
  font-size: 20px;
  margin-right: 36px;
  margin-left: 1010px;
  padding-top: 200px;
}

.screen-ten-onetext{
  opacity: 0;
  transition: opacity 2s;
}

.draw-nine{
  opacity: 1;
}

.screen-eleven-onetext {
  color: rgb(255, 247, 234);
  font-size: 20px;
  margin-right: 36px;
  margin-left: 550px;
  padding-top: 200px;
}

.clouds{
  width: 80%;
  margin-top: 40px;
}

.screen-twelve-onetext {
  color: rgb(255, 247, 234);
  font-size: 20px;
  margin-left: 36px;
  padding-top: 180px;
}

.askull {
  width: 50%;
  margin-left: 680px;
}


.canvastwo {
  position: relative;
  width: 98vw;
  height: 100vh;
  background: black;
}

.layer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.photo {
  max-height: 90%;
  max-width: 80%;
  filter:
    brightness(calc(0.5 + var(--exposure)))
    grayscale(calc(1.5 - var(--exposure) * 1.5))
    contrast(calc(2.25 - var(--exposure) * 1.25));
}

.exposure-layer {
  width: 100%;
  height: 100%;
  background: black;
  opacity: calc(1 - var(--exposure));
  mix-blend-mode: soft-light;
}

.exposure-control {
  position: absolute;
  top: 14000px;
  left: 70%;
  transform: translateX(-50%);
  color: white;
  display: flex;
  align-items: center;
}


.screen-thirteen-onetext {
  color: rgb(255, 247, 234);
  font-size: 20px;
  margin-right: 36px;
  margin-left: 990px;
}

#dragElementtwo {
  width: 750px;
  height: 500px;
  /* background: rgb(243, 198, 49); */
  cursor: move;
  color: rgb(255, 247, 234);
  text-align: center;
  font-size: 20px;
  line-height: 260px;
  border-radius: 50%;
  user-select: none;
  transition: all 2ms ease;
  transform: translateX(-36px) translateY(-40px);
  position: relative;
  left: 700px;
  top: 200px;
}


.flowers{
  width: 100%;
  position: absolute;
  display: flex;
}





.screen-fourteen{
margin-top: 860px;
}


.screen-fourteen-onetext {
  color: rgb(255, 247, 234);
  font-size: 20px;
  margin-left: 36px;
  padding-top: 180px;
}

.screen-fourteen-twotext {
  color: rgb(255, 247, 234);
  font-size: 20px;
  margin-left: 286px;
  padding-top: 180px;
}

.screen-fourteen-threetext {
  color: rgb(255, 247, 234);
  font-size: 20px;
  margin-left: 571px;
  padding-top: 180px;
}

.screen-fourteen-fourtext {
  color: rgb(255, 247, 234);
  font-size: 20px;
  margin-left: 826px;
  padding-top: 180px;
}

.screen-fourteen-fivetext {
  color: rgb(255, 247, 234);
  font-size: 20px;
  margin-left: 1101px;
  padding-top: 180px;
}

.screen-fourteen-sixtext {
  color: rgb(255, 247, 234);
  font-size: 20px;
  margin-right: 36px;
  margin-left: 1350px;
  padding-top: 200px;
}

.screen-fifteen-onetext {
  color: rgb(255, 247, 234);
  font-size: 120px;
  margin-left: 460px;
  padding-top: 400px;
  text-decoration: line-through;
}
