* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }

body{
    background-color: black;
    font-family: Homemade Apple;
    color: rgb(255, 247, 234);
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin-left: 36px;
    margin-right: 36px;
}