* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: black;
  font-family: Homemade Apple;
  color: rgb(255, 247, 234);
}

.header {
  display: flex;
  flex-direction: row;
  font-size: 22px;
  justify-content: space-between;
  list-style-type: none;
  margin-left: 36px;
  margin-right: 36px;
  margin-top: 30px;
}

.light-text {
  text-align: center;
  font-size: 50px;
  color: rgb(255, 247, 234);
  position: relative;
  padding-top: 160px;
}

.light {
  width: 75%;
  margin-left: 300px;
  position: absolute;
}

.author {
  color: rgb(255, 247, 234);
  font-size: 18px;
  text-align: right;
  padding-right: 36px;
  padding-top: 230px;
  position: relative;
}

.screen-two {
  color: rgb(255, 247, 234);
  font-size: 20px;
  margin-left: 36px;
  padding-top: 400px;
}
.next {
  text-decoration: underline;
  cursor: help;
}
.moon {
  height: 50%;
  margin-left: 1100px;
  padding-top: 130px;
  position: absolute;
}
.moon-box {
  opacity: 0;
  transition: opacity 2s;
}
.draw {
  opacity: 1;
}

.window-window {
  opacity: 0;
  transition: opacity 2s;
}

.screen-two-twotext {
  position: relative;
  padding-top: 250px;
  margin-left: 800px;
  z-index: 20;
}

.window {
  width: 70%;
  margin-left: -200px;
  position: absolute;
  z-index: 10;
}

.screen-three-onetext {
  color: rgb(255, 247, 234);
  font-size: 20px;
  margin-left: 36px;
  padding-top: 1100px;
}

.screen-three-twotext {
  color: rgb(255, 247, 234);
  font-size: 20px;
  margin-right: 36px;
  padding-top: 580px;
  margin-left: 878px;
}

.screen-four-onetext {
  color: rgb(255, 247, 234);
  font-size: 20px;
  margin-left: 36px;
  padding-top: 600px;
}

.screen-four-twotext {
  color: rgb(255, 247, 234);
  font-size: 20px;
  margin-right: 36px;
  margin-left: 1082px;
  padding-top: 600px;
}

.screen-five-onetext{
  color: rgb(255, 247, 234);
  font-size: 20px;
  margin-left: 36px;
  padding-top: 600px;
}

.screen-six-onetext{
  color: rgb(255, 247, 234);
  font-size: 20px;
  margin-right: 36px;
  margin-left: 945px;
  padding-top: 600px;
}

.sideskull{
  width: 100%;
  padding-left: 375px;
  padding-top: 30px;
}

.screen-six-twotext{
  color: rgb(255, 247, 234);
  font-size: 20px;
  margin-left: 36px;
  padding-top: 80px;
}

.chapel{
  width: 50%;
  margin-left: 740px;
  position: absolute;
}

.screen-seven-onetext{
  color: rgb(255, 247, 234);
  font-size: 20px;
  margin-left: 36px;
  padding-top: 850px;
  position: relative;
}

.screen-eight-onetext {
  color: rgb(255, 247, 234);
  font-size: 20px;
  margin-left: 36px;
  padding-top: 180px;
}

.screen-eight-twotext {
  color: rgb(255, 247, 234);
  font-size: 20px;
  margin-right: 36px;
  margin-left: 1082px;
  padding-top: 600px;
}

.screen-nine-onetext {
  color: rgb(255, 247, 234);
  font-size: 20px;
  margin-left: 36px;
  padding-top: 180px;
}

.seagulls{
  width: 50%;
  margin-left: 180px;
}

.screen-ten-onetext{
  color: rgb(255, 247, 234);
  font-size: 20px;
  margin-right: 36px;
  margin-left: 1010px;
  padding-top: 200px;
}

.screen-eleven-onetext{
  color: rgb(255, 247, 234);
  font-size: 20px;
  margin-right: 36px;
  margin-left: 550px;
  padding-top: 200px;
}

.screen-twelve-onetext{
  color: rgb(255, 247, 234);
  font-size: 20px;
  margin-left: 36px;
  padding-top: 180px;
}

.askull{
  width: 50%;
  margin-left: 680px;
}

.screen-thirteen-onetext{
  color: rgb(255, 247, 234);
  font-size: 20px;
  margin-right: 36px;
  margin-left: 990px;
  padding-top: 200px;
}

.screen-fourteen-onetext {
  color: rgb(255, 247, 234);
  font-size: 20px;
  margin-left: 36px;
  padding-top: 180px;
}

.screen-fourteen-twotext{
  color: rgb(255, 247, 234);
  font-size: 20px;
  margin-left: 286px;
  padding-top: 180px;
}

.screen-fourteen-threetext{
  color: rgb(255, 247, 234);
  font-size: 20px;
  margin-left: 571px;
  padding-top: 180px;
}

.screen-fourteen-fourtext{
  color: rgb(255, 247, 234);
  font-size: 20px;
  margin-left: 826px;
  padding-top: 180px;
}

.screen-fourteen-fivetext{
  color: rgb(255, 247, 234);
  font-size: 20px;
  margin-left: 1101px;
  padding-top: 180px;
}

.screen-fourteen-sixtext{
  color: rgb(255, 247, 234);
  font-size: 20px;
  margin-right: 36px;
  margin-left: 1350px;
  padding-top: 200px;
}

.screen-fifteen-onetext{
  color: rgb(255, 247, 234);
  font-size: 120px;
  margin-left: 460px;
  padding-top: 400px;
}