* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.slide {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 400vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}
.vh-center {
  margin: auto auto;
  width: 80%;
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.one {
  background-image: url(images/darknight.jpg);
}
.two {
  background: #0C0402;
  z-index: -10;
}
.three {
  background: #0bbaa0;
  z-index: -10;
}
.four {
  background: #00dfdf;
  z-index: -10;
}
.center {
  position: relative;
  z-index: 10;
  text-align: center;
  font-family: 'Fraunces', serif;
  font-weight: 400;
  font-size: 80px;
  color: white;
}
.centersub{
  text-align: center;
  color: white;
  font-family: 'Fraunces', serif;
  font-weight: 300;
  font-size: 24px;
  font-style: italic;
}
.centerhenter{
  text-align: left;
  padding-left: 80px;
  padding-bottom: 180px;
  font-family: 'lato', sans-serif;
  font-weight: 400;
  font-size: 44px;
  color: white;
}
#rage{
  font-family: 'Fraunces', serif;
  font-weight: 400;
  font-style: italic;
}
.centercenter{
  text-align: left;
  padding-left: 560px;
  font-family: 'lato', sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: white;
}
.flame{
  height: 100%;
  width: 15%;
  position: absolute;
  z-index: -1;
}
.centerhentertwo{
  text-align: left;
  padding-left: 0px;
  padding-bottom: 40px;
  font-family: 'lato', sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: white;
}
.centercentertwo{
  text-align: left;
  padding-left: 350px;
  padding-top: 80px;
  font-family: 'lato', sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: white;
}
#grieved{
  font-family: 'Fraunces', serif;
  font-weight: 400;
  font-style: italic;
}
.candle{
  height: 70%;
  width: 20%;
  position: absolute;
  z-index: -1;
  opacity: 50%;
  padding-left: 300px;
}
.waves{
  height: 100%;
  width: 30%;
  position: absolute;
  z-index: -2;
}
.centerhenterthree{
  text-align: left;
  padding-left: 0px;
  padding-bottom: 10px;
  font-family: 'lato', sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: white;
}
.centercenterthree{
  text-align: left;
  padding-left: 350px;
  padding-top: 30px;
  font-family: 'lato', sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: white;
}
