* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }


/*Homepage*/
.body-body {
  width: 100%;
  font-size: 16px;
  color: #ffff;
  font-weight: 400;
  overflow-x: hidden;
  /*main container wrapper*/
  /*footer section*/
}
.body-body .mainContainer {
  height: 1000px !important;
  padding: 0 8%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/homepage.jpg);
  background-size: 100% 100%;
}
.body-body .mainContainer .navbar {
  height: 70px;
  background-color: transparent;
  padding: 0;
}
.body-body .mainContainer .navbar .navbar-brand {
  color: #fff;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  margin-left: 13%;
  transition: all;
  transition-duration: 1s;
}
.body-body .mainContainer .navbar .navbar-brand:hover, body .mainContainer .navbar .navbar-brand:focus {
  transform: scale(1.2);
  -webkit-text-stroke: 1px #fff;
  -webkit-text-stroke-color: transparent;
}
.body-body .mainContainer .navbar .navbar-collapse {
  justify-content: flex-end;
}
.body-body .mainContainer .navbar .navbar-collapse .navbar-nav {
  width: 70% !important;
  position: relative;
}
.body-body .mainContainer .navbar .navbar-collapse .navbar-nav .last {
  position: absolute;
  right: 0 !important;
}
.body-body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item {
  margin: 0 10px;
}
.body-body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #ffff;
  padding: 10px 0x;
  font-weight: 800;
  transition: all;
  transition-duration: 1s;
}
.body-body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover, body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:active, body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:focus {
  border-bottom: 2px solid #ffff;
  transform: translateY(-5px);
}
.body-body .mainContainer .legend {
  margin-top: 130px;
  height: 770px;
  color: #ffff;
  /*legend introduction text*/
}
.body-body .mainContainer .legend .legend__text {
  width: 100%;
}
.body-body .mainContainer .legend .legend__text .introText {
  text-align: center;
}
.body-body .mainContainer .legend .legend__text .introText .introText__heading {
  font-size: 40px;
  line-height: 54px;
  margin-bottom: 30px;
  font-weight: 800;
}
.body-body .mainContainer .legend .legend__text .introText .introText__heading span {
  opacity: 0.8;
  font-weight: 400;
}
.body-body .mainContainer .legend .legend__text .introText .introText__link a {
  color: #fff;
  font-weight: 800;
  padding: 10px 0;
  border-bottom: 2px solid #fff;
  transition: all;
  transition-duration: 1s;
}
.body-body .mainContainer .legend .legend__text .introText .introText__link a:hover, body .mainContainer .legend .legend__text .introText .introText__link a:focus {
  text-decoration: none;
  filter: blur(1px);
}

  /*end homepage*/





  /*items page*/
.carousel-fade .carousel-inner .item {
    transition-property: opacity;
  }
  .carousel-fade .carousel-inner .item,
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
    opacity: 0;
  }
  .carousel-fade .carousel-inner .active,
  .carousel-fade .carousel-inner .next.left,
  .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
  }
  .carousel-fade .carousel-inner .next,
  .carousel-fade .carousel-inner .prev,
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
    left: 0;
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-control {
    z-index: 2;
  }
  html,
  body,
  .carousel,
  .carousel-inner,
  .carousel-inner .item {
    height: 100%;
  }
  .item:nth-child(1) {
    background: #74C390;
  }
  .item:nth-child(2) {
    background: #51BCE8;
  }
  .item:nth-child(3) {
    background: #E46653;
  }

  /*end items page*/













/*Responsiveness for screens*/
@media screen and (max-width: 1600px) {
  body .mainContainer .navbar .navbar-brand {
    margin-left: 6%;
  }
}
@media screen and (max-width: 1350px) {
  body .mainContainer .navbar .navbar-brand {
    margin-left: 2%;
  }
}
@media screen and (max-width: 1200px) {
  body .mainContainer {
    padding: 0 3%;
  }
}
@media screen and (max-width: 1000px) {
  body .mainContainer {
    padding: 0 1%;
  }
  body .mainContainer .navbar .navbar-nav .last {
    position: relative !important;
  }
}
@media screen and (max-width: 767px) {
  body .mainContainer {
    padding: 0 2%;
    height: 800px !important;
  }
  body .mainContainer .navbar {
    margin-bottom: 200px;
  }
  body .mainContainer .navbar .navbar-brand {
    margin-left: 0 !important;
  }
  body .mainContainer .navbar .navbar-collapse .navbar-nav {
    width: 100% !important;
    background-color: #333;
  }
  body .mainContainer .navbar .navbar-collapse .navbar-nav .last {
    position: relative !important;
  }
  body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover, body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:active, body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:focus {
    border-bottom: 2px solid #fff;
    transform: translateY(-5px);
  }
  body .mainContainer .legend {
    height: 550px;
  }
  body .mainContainer .legend .legend__text {
    padding: 0;
    height: 400px !important;
  }
  body .mainContainer .legend .legend__text .introText {
    width: 100%;
    text-align: center;
  }
  body .mainContainer .legend .legend__text .introText .introText__heading {
    font-size: 32px;
  }
}