* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }


/*Homepage*/
.body-body {
  width: 100%;
  font-size: 16px;
  color: #ffff;
  font-weight: 400;
  overflow-x: hidden;
  /*main container wrapper*/
  /*footer section*/
}
.body-body .mainContainer {
  height: 1000px !important;
  padding: 0 8%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/homepage.jpg);
  background-size: 100% 100%;
}
.body-body .mainContainer .navbar {
  height: 70px;
  background-color: transparent;
  padding: 0;
}
.body-body .mainContainer .navbar .navbar-brand {
  color: #fff;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  margin-left: 13%;
  transition: all;
  transition-duration: 1s;
}
.body-body .mainContainer .navbar .navbar-brand:hover, .body-body .mainContainer .navbar .navbar-brand:focus {
  transform: scale(1.2);
  -webkit-text-stroke: 1px #fff;
  -webkit-text-stroke-color: transparent;
}
.body-body .mainContainer .navbar .navbar-collapse {
  justify-content: flex-end;
}
.body-body .mainContainer .navbar .navbar-collapse .navbar-nav {
  width: 70% !important;
  position: relative;
}
.body-body .mainContainer .navbar .navbar-collapse .navbar-nav .last {
  position: absolute;
  right: 0 !important;
}
.body-body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item {
  margin: 0 10px;
}
.body-body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #ffff;
  padding: 10px 0x;
  font-weight: 800;
  transition: all;
  transition-duration: 1s;
}
.body-body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover, .body-body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:active, body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:focus {
  border-bottom: 2px solid #ffff;
  transform: translateY(-5px);
}
.body-body .mainContainer .legend {
  margin-top: 130px;
  height: 770px;
  color: #ffff;
  /*legend introduction text*/
}
.body-body .mainContainer .legend .legend__text {
  width: 100%;
}
.body-body .mainContainer .legend .legend__text .introText {
  text-align: center;
}
.body-body .mainContainer .legend .legend__text .introText .introText__heading {
  font-size: 40px;
  line-height: 54px;
  margin-bottom: 30px;
  font-weight: 800;
}
.body-body .mainContainer .legend .legend__text .introText .introText__heading span {
  opacity: 0.8;
  font-weight: 400;
}
.body-body .mainContainer .legend .legend__text .introText .introText__link a {
  color: #fff;
  font-weight: 800;
  padding: 10px 0;
  border-bottom: 2px solid #fff;
  transition: all;
  transition-duration: 1s;
}
.body-body .mainContainer .legend .legend__text .introText .introText__link a:hover, .body-body .mainContainer .legend .legend__text .introText .introText__link a:focus {
  text-decoration: none;
  filter: blur(1px);
}

  /*end homepage*/





  /*items page*/

  



.carousel-fade .carousel-inner .item {
    transition-property: opacity;
  }
  .carousel-fade .carousel-inner .item,
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
    opacity: 0;
  }
  .carousel-fade .carousel-inner .active,
  .carousel-fade .carousel-inner .next.left,
  .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
  }
  .carousel-fade .carousel-inner .next,
  .carousel-fade .carousel-inner .prev,
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
    left: 0;
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-control {
    z-index: 2;
  }
  html,
  body,
  .carousel,
  .carousel-inner,
  .carousel-inner .item {
    height: 100%;
  }
  .item:nth-child(1) {
    background: #B5838D;
  }
      
  .chickenpurse{
      width: 500px;
      margin-left: 80px;
      padding-top: 100px;
      border-radius: 20px;
  }

  .chickenbutton{
      margin-left: 200px;
        display: inline-block;
        padding: 1em 2em;
        border-radius: 0;
        color: #FFCDB2;
        margin-top: 2rem;
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-decoration: none;
        background: linear-gradient(to right, rgba(178, 135, 111, 0) 25%, rgba(255, 205, 178, 0.8) 75%);
        background-position: 1% 50%;
        background-size: 400% 300%;
        border: 1px solid #FFCDB2;
        border-radius: 60%;
        transition: 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
        width: 250px;
        height: 80px;
      }
  .chickenbutton:hover {
        transition: 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
      }
  .chickenbutton:hover {
        color: white;
        color: #fff;
        background-position: 99% 50%;
      }

  .item:nth-child(2) {
    background: #6D6875;
  }

  .shrimppillow{
    width: 600px;
    margin-left: 80px;
    padding-top: 100px;
    border-radius: 20px;
}

.shrimpbutton{
    margin-left: 260px;
      display: inline-block;
      padding: 1em 2em;
      border-radius: 0;
      color: #FFB4A2;
      margin-top: 2rem;
      font-weight: bold;
      font-size: 16px;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-decoration: none;
      background: linear-gradient(to right, rgba(178, 135, 111, 0) 25%, rgba(255, 180, 162, 0.8) 75%);
      background-position: 1% 50%;
      background-size: 400% 300%;
      border: 1px solid #FFB4A2;
      border-radius: 60%;
      transition: 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
      width: 250px;
      height: 80px;
    }
.shrimpbutton:hover {
      transition: 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    }
.shrimpbutton:hover {
      color: white;
      color: #fff;
      background-position: 99% 50%;
    }

  .item:nth-child(3) {
    background: #B5838D;
  }

  .cattissue{
    width: 600px;
    margin-left: 80px;
    padding-top: 100px;
    border-radius: 20px;
}

.catbutton{
    margin-left: 260px;
      display: inline-block;
      padding: 1em 2em;
      border-radius: 0;
      color: #565264;
      margin-top: 2rem;
      font-weight: bold;
      font-size: 16px;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-decoration: none;
      background: linear-gradient(to right, rgba(178, 135, 111, 0) 25%, rgba(86, 82, 100, 0.8) 75%);
      background-position: 1% 50%;
      background-size: 400% 300%;
      border: 1px solid #565264;
      border-radius: 60%;
      transition: 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
      width: 250px;
      height: 80px;
    }
.catbutton:hover {
      transition: 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    }
.catbutton:hover {
      color: white;
      color: #fff;
      background-position: 99% 50%;
    }

  .item:nth-child(4) {
    background: #FFCDB2;
  }

  
  .fishfeet{
    width: 600px;
    margin-left: 80px;
    padding-top: 100px;
    border-radius: 20px;
}

.fishbutton{
    margin-left: 260px;
      display: inline-block;
      padding: 1em 2em;
      border-radius: 0;
      color: #B5838D;
      margin-top: 2rem;
      font-weight: bold;
      font-size: 16px;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-decoration: none;
      background: linear-gradient(to right, rgba(178, 135, 111, 0) 25%, rgba(181, 131, 141, 0.8) 75%);
      background-position: 1% 50%;
      background-size: 400% 300%;
      border: 1px solid #B5838D;
      border-radius: 60%;
      transition: 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
      width: 250px;
      height: 80px;
    }
.fishbutton:hover {
      transition: 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    }
.fishbutton:hover {
      color: white;
      color: #fff;
      background-position: 99% 50%;
    }

  /*end items page*/















/*Responsiveness for screens - Homepage*/
@media screen and (max-width: 1600px) {
    .body-body .mainContainer .navbar .navbar-brand {
    margin-left: 6%;
  }
}
@media screen and (max-width: 1350px) {
    .body-body .mainContainer .navbar .navbar-brand {
    margin-left: 2%;
  }
}
@media screen and (max-width: 1200px) {
    .body-body .mainContainer {
    padding: 0 3%;
  }
}
@media screen and (max-width: 1000px) {
    .body-body .mainContainer {
    padding: 0 1%;
  }
  .body-body .mainContainer .navbar .navbar-nav .last {
    position: relative !important;
  }
}
@media screen and (max-width: 767px) {
    .body-body .mainContainer {
    padding: 0 2%;
    height: 800px !important;
  }
  .body-body .mainContainer .navbar {
    margin-bottom: 200px;
  }
  .body-body .mainContainer .navbar .navbar-brand {
    margin-left: 0 !important;
  }
  .body-body .mainContainer .navbar .navbar-collapse .navbar-nav {
    width: 100% !important;
    background-color: #333;
  }
  .body-body .mainContainer .navbar .navbar-collapse .navbar-nav .last {
    position: relative !important;
  }
  .body-body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover, .body-body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:active, body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:focus {
    border-bottom: 2px solid #fff;
    transform: translateY(-5px);
  }
  .body-body .mainContainer .legend {
    height: 550px;
  }
  .body-body .mainContainer .legend .legend__text {
    padding: 0;
    height: 400px !important;
  }
  .body-body .mainContainer .legend .legend__text .introText {
    width: 100%;
    text-align: center;
  }
  .body-body .mainContainer .legend .legend__text .introText .introText__heading {
    font-size: 32px;
  }
}
/*End responsiveness for screens - Homepage*/

