/* Phone Size 520 & Styling Bones */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }

body{
  background: #A3D5FF
}
/* START of Mobile Hamburger Menu */
.nav, .desktop {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 900;
  background-color: #A3D5FF;
}

.icon {
  position: fixed;
  cursor: pointer;
  top: 5%;
  right: 0%;
  width: 40px;
  height: 45px;
  transform: translate(-50%, -50%);
  display: block;
  z-index: 1000;
}

.hamburger {
  width: 40px;
  height: 4px;
  line-height: 70px;
  background: white;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  transition: .5s;
}

.hamburger:before,
.hamburger:after {
  content: '';
  position: absolute;
  width: 40px;
  height: 4px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  transition: .5s;
}

.hamburger:before {
  top: -10px;
}

.hamburger:after {
  top: 10px;
}

.icon.active .hamburger {
  background: rgba(0,0,0,0);
  box-shadow: 0 2px 5px rgba(0,0,0,0);
}

.icon.active .hamburger:before {
  top: 0;
  transform: rotate(45deg);
}

.icon.active .hamburger:after {
  top: 0;
  transform: rotate(135deg);
}

.menu-mobile {
  background-color: #5CB6FF;
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 999;
  padding-top: 150px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.menu-mobile, .menu-mobile a {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.menu-mobile a {
  clear: right;
  text-decoration: none;
  color: white;
  height: 70px;
  line-height: 70px;
}
.menu-mobile a:hover {
  color: #FCD535;
}

.desktop, .menu-desktop, .menu-mobile {
      display: none;
  }
/* END OF Mobile Hamburger Menu */


            /* Homepage */
img { width: 100%; }

.logo img {
  width: 150px;
  padding: 40px;
  background-color: #A3D5FF;
  display: flex;
  justify-content: space-between;
}

  .blue1{
    background-color: #A3D5FF;
    color: white;
    height: 350px;
    text-align: center;
    padding-top: 80px;
  }

  .blue1 h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 90px;
    font-weight: 400;
  }
  
  .blue1 h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    padding-top: 10px;
  }

  .bread{
    width: 100%;
    height: 546px;
    position: relative;
  }

.blueOP1{
    content: " ";
    z-index: 1;
    display: block;
    height: 150px;
    background: rgba(163, 213, 255, 0.5);
    display: flex;
    align-items: center;
    margin-bottom: -80px;
    position: absolute;
    top:0;
    left: 0;
    right:0;
}
.blueOP1 img {
  padding: 40px;
}

            /* Location */

.yellow1{
  background-color: #FCD535;
  color: white;
  height: 450px;
  text-align: center;
  padding-top: 180px;
  position: absolute;
  width: 100%;
  position: 800px;
}

.yellow1 h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 90px;
  font-weight: 400;
}

/*
.yellowOP1{
  content: " ";
  z-index: 10;
  display: block;  
  height: 100px;
  background: rgba(252, 213, 53, 0.5);
  position: absolute;
  top:0;
  left:0;
  right:0;
  margin-bottom: -80px;
}
*/

.location {
    height: 450px;
    margin-top: -6px;
    width: 100%;
}

.local-tier ul{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-top: 30px;
  background-image: url(images/locations.png);   
  height: 546px;
  width: 100%;
  position: relative;
  overflow:hidden;

}

.local-tier ul li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 29px 80px;
  text-decoration: none;
  background-color: rgba(252, 213, 53, 0.5);
}

/*
.local-tier ul li a:hover {
  background-color: rgba(252, 213, 53, 0.5);
  width: 100px;
  height: 120px;
  display: flex;
  flex-direction: column;
}
*/


            /* Food & Drink */

  .pink1{
    background-color: #EF959C;
    color: white;
    height: 450px;
    text-align: center;
    padding-top: 120px;
  }

  .pink1 h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 90px;
    font-weight: 400;
  }
  
  .pink1 ul{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-top: 30px;
  }

  .pink1 ul li {
    float: left;
  }

  .pink1 ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 18px 95px;
    text-decoration: none;
  }

  .pink1 ul li a:hover {
    background-color: #E75F6B;
    border: none;
  }

  /*
  .pinkOP1{
    content: " ";
    z-index: 10;
    display: block;
    height: 100px;
    background: rgba(239, 149, 156, 0.5);
    position: absolute;
    top:0;
    left:0;
    right:0;
  }
  */

  .Food-Drink{
      height: 450px;
      margin-top: -6px;
  }

  .food-tier{
    width: 100%;
    height: 350px;
    position: relative;
  }

  * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: white;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  background-color:   rgba(239, 149, 156, 0.5);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

              /* Get Involved */

  .blue2{
    background-color: #A3D5FF;
    color: white;
    height: 450px;
    text-align: center;
    padding-top: 120px;
  }
            
  .blue2 h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 90px;
    font-weight: 400;
  }

  .blue2 ul{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-top: 30px;
  }

  .blue2 ul li {
    float: left;
  }

  .blue2 ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 44px;
    text-decoration: none;
  }

  .blue2 ul li a:hover {
    background-color: #5CB6FF;
  }

  .blueOP2{
    content: " ";
    z-index: 10;
    display: block;
    height: 100px;
    background: rgba(163, 213, 255, 0.5);
    position: absolute;
    top:0;
    left:0;
    right:0;
}

.Get-Involved{
  height: 450px;
  margin-top: -6px;
}

.involved-tier{
  width: 100%;
  height: 350px;
  position: relative;
}

            /* Information */
.yellow2{
  background-color: #FCD535;
  color: white;
  height: 450px;
  text-align: center;
  padding-top: 130px;
  position: absolute;
  width: 100%;
  position: 800px;
}

.yellow2 h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 75px;
  font-weight: 400;
}

.yellow2 h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  padding-top: 10px;
}

.yellow2 ul{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-top: 30px;
}

.yellow2 ul li {
  float: left;
}

.yellow2 ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 18px 84px;
  text-decoration: none;
}

.yellow2 ul li a:hover {
  background-color: #F1C204;
}

.yellowOP2{
  content: " ";
  display: block;  
  height: 100px;
  background: rgba(252, 213, 53, 0.5);
  position: absolute;
  top:0;
  left:0;
  right:0;
}

.info{
    height: 450px;
    margin-top: -6px;
}
.info-tier{
  height: 505px;
  width: 100%;
  position: relative;
  overflow:hidden;
}


/* Menu subpage */
.menus{
  font-family: 'Montserrat', sans-serif;
  font-size: 75px;
  font-weight: 400;
  writing-mode: sideways-lr;
  text-orientation: sideways-right;
  color: white;
  margin-left: -84px;
  position: absolute;
}

.menu-together{
  display: flex;
}

.menu-images{
  padding-left: 120px;
  width: 100%;
}

.food-menu{
  padding-bottom: 15px;
}

/* Gallery subpage */

.gallery-view{
  width: 100%;
  font-size: 0;
  overflow: hidden;
}




/* Tablet Size */

@media only screen and (min-width: 768px) {

  .nav{
    position: absolute;
  }

  .blue1{
    height: 550px;
    padding-top: 230px;
  }

  .blue1 h1{
    font-size: 140px;
    font-weight: 400;
  }
  
  .blue1 h2{
    font-size: 25px;
    font-weight: 300;
  }

  .blueOP1{
    height: 25%;
    top: 510px;
}


}

/* Website Size */

@media only screen and (min-width: 1440px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* START of desktop menu for 768 media query */
  .menu-desktop {
      width: 100%;
      display: block;
      padding: 0;
      line-height: 50px;
      justify-content: space-evenly;
      flex-direction: row;
      height: 0;
      text-align: right;
      position: absolute;
      top: 0;
      right: 0;
  }

  .menu-desktop a {
      display: inline-flex;
      margin-right: 30px;
      height: 0;
      line-height: 50px;
      text-decoration: none;
      color: #333;
      justify-content: space-evenly;
  }
  .menu-desktop a:hover {
      color: red;
  }

  .desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      display: block;
  }

  header.nav, .menu-mobile {
      display: none;
  }
  /* END of desktop menu for 768 media query */