/* Phone Size 520 & Styling Bones */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }


/* START of Mobile Hamburger Menu */
.nav, .desktop {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 900;
  background-color: #A3D5FF;
}

.icon {
  position: fixed;
  cursor: pointer;
  top: 5%;
  right: 0%;
  width: 40px;
  height: 45px;
  transform: translate(-50%, -50%);
  display: block;
  z-index: 1000;
}

.hamburger {
  width: 40px;
  height: 4px;
  line-height: 70px;
  background: #666;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  transition: .5s;
}

.hamburger:before,
.hamburger:after {
  content: '';
  position: absolute;
  width: 40px;
  height: 4px;
  background: #666;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  transition: .5s;
}

.hamburger:before {
  top: -10px;
}

.hamburger:after {
  top: 10px;
}

.icon.active .hamburger {
  background: rgba(0,0,0,0);
  box-shadow: 0 2px 5px rgba(0,0,0,0);
}

.icon.active .hamburger:before {
  top: 0;
  transform: rotate(45deg);
}

.icon.active .hamburger:after {
  top: 0;
  transform: rotate(135deg);
}

.menu-mobile {
  background-color: #5CB6FF;
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 999;
  padding-top: 150px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.menu-mobile, .menu-mobile a {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.menu-mobile a {
  clear: right;
  text-decoration: none;
  color: #333;
  height: 70px;
  line-height: 70px;
}
.menu-mobile a:hover {
  color: red;
}

.desktop, .menu-desktop, .menu-mobile {
      display: none;
  }
/* END OF Mobile Hamburger Menu */


            /* Homepage */
img { width: 100%; }

.logo img {
  width: 160px;
  padding: 40px;
  background-color: #A3D5FF;
  display: flex;
  justify-content: space-between;
}

  .blue1{
    background-color: #A3D5FF;
    color: white;
    height: 450px;
    text-align: center;
    padding-top: 180px;
  }

  .blue1 h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 90px;
    font-weight: 400;
  }
  
  .blue1 h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    padding-top: 10px;
  }

  .bread{
    width: 100%;
    height: 546px;
    z-index: -1;
    position: relative;
  }

.blueOP1{
    content: " ";
    z-index: 1;
    display: block;
    height: 150px;
    background: rgba(163, 213, 255, 0.5);
    display: flex;
    align-items: center;
    margin-bottom: -80px;
    position: absolute;
    top:0;
    left: 0;
    right:0;
}
.blueOP1 img {
  padding: 40px;
}

            /* Location */

.yellow1{
  background-color: #FCD535;
  color: white;
  height: 450px;
  text-align: center;
  padding-top: 180px;
  position: absolute;
  width: 100%;
  position: 800px;
}

.yellow1 h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 90px;
  font-weight: 400;
}

.yellowOP1{
  content: " ";
  display: block;  
  height: 100px;
  background: rgba(252, 213, 53, 0.5);
  position: absolute;
  top:0;
  left:0;
  right:0;
}

.location {
    height: 450px;
    margin-top: -6px;
}
.local-tier{
  height: 546px;
  width: 100%;
  position: relative;
  overflow:hidden;
}

.local-tier ul{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-top: 30px;
}

.local-tier ul li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 18px 57px;
  text-decoration: none;
}

            /* Food & Drink */

  .pink1{
    background-color: #EF959C;
    color: white;
    height: 450px;
    text-align: center;
    padding-top: 120px;
  }

  .pink1 h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 90px;
    font-weight: 400;
  }
  
  .pink1 ul{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-top: 30px;
  }

  .pink1 ul li {
    float: left;
  }

  .pink1 ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 18px 57px;
    text-decoration: none;
  }

  .pink1 ul li a:hover {
    background-color: #E75F6B;
    border: none;
  }

  .pinkOP1{
    content: " ";
    z-index: 10;
    display: block;
    height: 100px;
    background: rgba(239, 149, 156, 0.5);
    position: absolute;
    top:0;
    left:0;
    right:0;
  }

  .Food-Drink{
      height: 450px;
      margin-top: -6px;
  }

  .food-tier{
    width: 100%;
    height: 350px;
    position: relative;
  }

              /* Get Involved */

  .blue2{
    background-color: #A3D5FF;
    color: white;
    height: 450px;
    text-align: center;
    padding-top: 120px;
  }
            
  .blue2 h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 90px;
    font-weight: 400;
  }

  .blue2 ul{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-top: 30px;
  }

  .blue2 ul li {
    float: left;
  }

  .blue2 ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 27px;
    text-decoration: none;
  }

  .blue2 ul li a:hover {
    background-color: #5CB6FF;
  }

  .blueOP2{
    content: " ";
    z-index: 10;
    display: block;
    height: 100px;
    background: rgba(163, 213, 255, 0.5);
    position: absolute;
    top:0;
    left:0;
    right:0;
}

.Get-Involved{
  height: 450px;
  margin-top: -6px;
}

.involved-tier{
  width: 100%;
  height: 350px;
  position: relative;
}

            /* Information */
.yellow2{
  background-color: #FCD535;
  color: white;
  height: 450px;
  text-align: center;
  padding-top: 130px;
  position: absolute;
  width: 100%;
  position: 800px;
}

.yellow2 h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 75px;
  font-weight: 400;
}

.yellow2 h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  padding-top: 10px;
}

.yellow2 ul{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-top: 30px;
}

.yellow2 ul li {
  float: left;
}

.yellow2 ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 18px 45px;
  text-decoration: none;
}

.yellow2 ul li a:hover {
  background-color: #F1C204;
}

.yellowOP2{
  content: " ";
  display: block;  
  height: 100px;
  background: rgba(252, 213, 53, 0.5);
  position: absolute;
  top:0;
  left:0;
  right:0;
}

.info{
    height: 450px;
    margin-top: -6px;
}
.info-tier{
  height: 505px;
  width: 100%;
  position: relative;
  overflow:hidden;
}

            /* footer */
.footer{
  background-color: #A3D5FF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-top: 20px;
}

.footer ul li {
  float: left;
  list-style: none;
}

.footer ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 27px 20px;
  text-decoration: none;
}

.footer ul li a:hover {
  background-color: #5CB6FF;
}


/* Tablet Size */

@media only screen and (min-width: 768px) {

  .nav{
    position: absolute;
  }

  .blue1{
    height: 550px;
    padding-top: 230px;
  }

  .blue1 h1{
    font-size: 140px;
    font-weight: 400;
  }
  
  .blue1 h2{
    font-size: 25px;
    font-weight: 300;
  }

  .blueOP1{
    height: 25%;
    top: 510px;
}


}

/* Website Size */

@media only screen and (min-width: 1440px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* START of desktop menu for 768 media query */
  .menu-desktop {
      width: 100%;
      display: block;
      padding: 0;
      line-height: 50px;
      justify-content: space-evenly;
      flex-direction: row;
      height: 0;
      text-align: right;
      position: absolute;
      top: 0;
      right: 0;
  }

  .menu-desktop a {
      display: inline-flex;
      margin-right: 30px;
      height: 0;
      line-height: 50px;
      text-decoration: none;
      color: #333;
      justify-content: space-evenly;
  }
  .menu-desktop a:hover {
      color: red;
  }

  .desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      display: block;
  }

  header.nav, .menu-mobile {
      display: none;
  }
  /* END of desktop menu for 768 media query */